*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: rgb(220, 20, 60); 
}

#page1 img{
    position: absolute;
    left: 34%;
    height: 100%;
    width: 66%;
    background-size: cover;
    background-position: center;
}    

#left{
    position: absolute;
    top: 75%;
    left: 74.5%;
    background-color: rgba(255, 255, 255, 0.357);
    height: 15%;
    width: 15%;
    border-radius: 7px;
    padding-top: 18px;
    padding-left: 18px;
}

#left h4{
    color: rgba(220, 20, 60, 0.809);
    font-size: 20px;
    font-weight: 800;
    
}

#left h5{
    color: rgba(220, 20, 60, 0.768);
    font-size: 15px;
    font-weight: 800;
}

#right{
    position: absolute;
    top: 75%;
    left: 66%;
    height: 15%;
    width: 9%;
    z-index: 999;
    border-radius: 7px;
    background-image: url(https://i.ebayimg.com/images/g/KOIAAOSwepxkM7q2/s-l500.jpg);
    background-position: center;
    background-size: cover;
    transition: all ease 0.3s;
}

#right:hover{
    scale: 1.2;
}

#btn #b{
    position: absolute;
    top: 50%;
    left: 68%;
    height: 35px;
    width: 35px;
    font-size: 20px;
    font-weight: 1000;
    border-radius: 50%;
    background-color: crimson;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.2s;
}

#btn #b:hover{
    scale: 1.3;
}

#btn #t{
    position: absolute;
    top: 72%;
    left: 55%;
    height: 35px;
    width: 35px;
    font-size: 20px;
    font-weight: 1000;
    border-radius: 50%;
    background-color: crimson;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.2s;
}

#btn #t:hover{
    scale: 1.3;
}

#page1 #l{
    position: absolute;
    color: crimson;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    top: 25%;
    left: 50%;
}

#page1 #y{
    position: absolute;
    color: crimson;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    top: 32%;
    left: 50%;
}


#page1 h1{ 
    position: absolute;
    top: 10%;
    left: -9%;
    font-size: 490px;
    color:rgba(255, 127, 80, 0.64);
}

#page1 h2{
    position: absolute;
    top: 37%;
    left: 5%;
    font-size: 190px;
    color: white;
    z-index: 1000;
    text-transform: capitalize;
}

#page1 h3{
    position: absolute;
    top: 38%;
    left: 6%;
    color: white;
    font-size: 15px;
    text-transform: uppercase;

}

#page1 p{
    position: absolute;
    top: 69%;
    left: 6%;
    color: white;
    font-size: 18px;
    font-family: gilroy;
    text-transform: capitalize;
}

#page1 a{
    position: absolute;
    top: 92%;
    left: 6%;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    color: royalblue;
    text-transform: capitalize;
    transition: all ease 0.2s;
}

#page1 a:hover{
    scale: 1.3;
    
}

#nav1{
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%,0);
  height: 60px;
  width: 95%;
  display: flex;  
  justify-content: space-between;
  align-items: center;    
  background-color: rgba(255, 127, 80, 0.456);

}

#nav1 h5{
    color: white;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 600;
    font-family: gilroy;
    text-transform: capitalize;
}


#nav1 #roll {
    display: flex;
    padding-left: 60px;
    align-items: center;
    gap: 58px;
    color: white;
    font-size: 14px;
    text-transform: capitalize;
    font-family: gilroy;
    transition: all ease 0.2s;
}

 #roll:hover{
    scale: 1.2;
 }

#nav1 i{
    padding-right: 25px;
    color: white;
    cursor: pointer;
    transition: all ease 0.2s;   
}

#nav1 i:hover{
    scale: 1.5;
    color: crimson;
}
 