*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #f6eee3;
}

#page1 #img1{
    position: absolute;
    top: 50;
    left: 56%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    rotate: 20deg;
    height: 200px;
    width: 270px;
}


#page1 h1{
    font-size: 130px;
    font-family: monument;
    font-weight: 100;
    text-transform: uppercase;
    color: maroon;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#page1 #img2{
    position: absolute;
    top: 62%;
    left: 42%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    rotate: -15deg;
    height: 200px;
    width: 270px;
}

#page1 #img3{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    object-position: center;
    
    rotate: 0deg;
    height: 500px;
    width: 350px;
}

#page2 {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #f6eee3;
}

#page2 #img1{
    position: absolute;
    top: 45%;
    left: 56%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    rotate: 20deg;
    height: 200px;
    width: 270px;
}


#page2 h1{
    font-size: 130px;
    font-family: monument;
    font-weight: 100;
    text-transform: uppercase;
    color: maroon;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#page2 #img2{
    position: absolute;
    top: 62%;
    left: 42%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    rotate: -15deg;
    height: 200px;
    width: 270px;
}

#page2 #img3{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    object-position: center;
    rotate: 0deg;
    height: 500px;
    width: 350px;
}

